
body {
    background: linear-gradient(to bottom, #008000, #000000); 
    margin: 0; 
    height: 100vh; 
}


button {
    background: linear-gradient(to right, #000000, #008000);
    color: white;
    border: none; 
    padding: 15px 30px; 
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase; 
    border-radius: 
    cursor: pointer; 
    transition: all 0.3s ease-in-out; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}


button:hover {
    background: linear-gradient(to right, #006400, #00ff00); 
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
}


button:focus {
    outline: none; 
    box-shadow: 0 0 10px 2px rgba(0, 255, 0, 0.7); 
}


button:disabled {
    background: #444; 
    cursor: not-allowed; 
    box-shadow: none; 
}
.passo{
display:none;

}
.passo.ativo{
    display:blok;
}